.footer {
  background-color: var(--body-color);

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
  padding: 1rem 0;
}

.footer__title,
.footer__copy {
  color: var(--title-color);
  text-align: center;
}

.footer__copy {
  display: block;
  font-size: var(--smaller-font-size);
}
